*{
  margin:0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  
}
.wrapper {
  background-color: rgb(255, 254, 254);
  width: 1349px;
  height: 1400px;
}
.line {
  width: 1349px;
  height: 8px;
  background-color: rgb(56, 55, 55);
}
.line2 {
  width: 1343px;
  height: 30px;
  background-color: rgb(56, 55, 55);
  padding: 3px;
}
.header {
  width: 1200px;
  height: 150px;
}
.small-section {
  width: 365px;
  height: 160px;
  float: left;
}
.big-section {
  width: 825px;
  height: 160px;
  float: right;
}
.section1 {
  height: 53.33px;
  width: 825px;
}
.section2 {
  height: 25px;
  width: 825px;
}
.section3 {
  height: 53.33px;
  width: 825px;
}
.small-section img {
  height: 125px;
  width: 145px;
  margin-left: 230px;
  margin-top: 20px;
}
.section1 h2 {
  margin: 0px;
  padding: 20px;
  padding-left: 10px;
  font-family: 'Uchen', serif;
  color: rgb(15, 15, 15);
}
.section2 h3 {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  font-family: 'Uchen', serif;
  margin-left: 200px;
  color: rgb(15, 15, 15);
}
.section3 h4 {
  margin: 0px;
  padding-right: 20px;
  font-family: 'Uchen', serif;
  margin-left: 200px;
  color: red;
}
.img1 {
  height: 30px;
  width: 50px;
  margin-top: -5px;
  margin-left: 110px;
  float: left;
}
.img2 {
  height: 20px;
  width: 20px;
  margin-top: -2px;
  margin-left: 20px;
  float: left;
}
.line2 a {
  margin-bottom: 15px;
  margin-left: -5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  float: left;
}
.line2 a:hover {
  color: rgb(247, 179, 7);
  float: left;
}
.contact {
  margin-left: 10px;
  margin-top: 0px;
  color: white;
  float: left;
}
.menu-bar{
  background: rgba(250, 164, 5, 0.8);
  text-align: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  font-size: 17px;
  
  
}
.menu-bar ul{
  display: inline-flex;
  list-style: none;
  color: white;
  margin: -8px;
}
.menu-bar ul li{
  width: 110px;
  margin: 10px;
  padding: 5px;
  margin-top: -10px;
}
.menu-bar ul li a{
  text-decoration: none;
  color: rgb(252, 249, 249);
}
.Active,.menu-bar ul li:hover{
  background-color: rgb(56, 55, 55);
  transition: 0.8s;
  border-radius: 0px;
}
.sub-menu1{
  display: none;
}
.menu-bar ul li:hover .sub-menu1{
  display: block;
  position: absolute;
 
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu1 ul{
  display: block;
  
}
.menu-bar ul li:hover .sub-menu1 ul li{
  width: 150px;
  padding: 5px;
  border-bottom: 1px double black;
  background: rgba(250, 164, 5, 0.8);
  text-align: left;
}
.menu-bar ul li:hover .sub-menu1 ul li:last-child{
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu1 ul li a:hover{
  color:rgb(240, 11, 118);
  
}
